<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <h1>index.ejs file</h1>
    
    <form action="/get-form-data" method="post">
        <input type="text" placeholder="username" name="username">
        <input type="email" placeholder="email" name="email">>
        <input type="password" placeholder="password" name="password">> 
        <button type="submit">Submit</button> 
    </form>

    <script src='/assests/index.js'></script>
</body>

</html>